.home-banner {

    .logo {

        img {
            position: relative;
            height: 60px;
            width: 60px;
<<<<<<< HEAD
            // left: 235px;
=======
            left: -80px;
>>>>>>> 15ce47ea2c0fd72491c50f03f6106217ecec9eea
        }

    }

    .cName {
        position: relative;
        height: 20px;
        width: 300px;
        // background-color: blueviolet;
<<<<<<< HEAD
        left: 10px;
=======
        left: -60px;
>>>>>>> 15ce47ea2c0fd72491c50f03f6106217ecec9eea

        h1 {
            font-family: SegoeUi;
            font-size: 16px;
            font-weight: lighter;
        }
    }

  nav {
    height: 80px;
    width: 100%;
    // background-color: pink;
    position: absolute;
    display: flex;
    justify-content: right;
    align-items: center;
    

    a {
        position: relative;
       font-family: SegoeUi;
       font-size: 16px;
       text-transform: capitalize;
       text-decoration: none;
        color: #000;
        padding: 30px;
        right: 300px;
        }

    }
    
    .search {
        position: relative;
        width: 604px;
        height: 44px;
        background-color: #000;
<<<<<<< HEAD
        left: 20px;
=======
        left: 60px;
>>>>>>> 15ce47ea2c0fd72491c50f03f6106217ecec9eea

        input {
            width: 604px;
            height: 44px;
            background-color: #c1d0d4;
            border-color: #707070;
            border-style: none;
            
        }
    }

    .user {
        img {
            position: relative;
            height: 30px;
            width: 30px;
<<<<<<< HEAD
           
            left: 390px;
=======
            left: 624px;
>>>>>>> 15ce47ea2c0fd72491c50f03f6106217ecec9eea
        }
    }

    .cart {
        img {
            position: relative;
            height: 30px;
            width: 30px;
            left: 320px;
        }
    }

}

 .line-break {
    width: 1600px;
    position: relative;
    top: 80px;
    hr {
        border: 1px solid #000;
    }
 }




